<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Registration Form </title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="first_name">First Name</label>
    <input name="first_name" placeholder="first_name" type="text" /> <br>
    <label for="last_name">Last Name</label>
    <input name="last_name" placeholder="last name" type="text" /> <br>
    <label for="email">Email</label>
    <input name="email" placeholder="Email" type="email" /> <br>
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" /> <br>
    <label for="password">Password</label>
    <input name="password" placeholder="Password" type="password" /> <br>
    <label for="confirmPasssword">Confirm Password</label>
    <input name="confirmPassword" placeholder="Confirm your password" type="password" /> <br>
    <button>Sign Up</button>
  </form>
</body>
</html>